body {
    text-align: center;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Rasa', sans-serif;
    padding: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 50px;
}

#report {
    width: 100%;
}

canvas {
    margin: 0 0 75px;
}

.table-div {
    margin: 0 0 75px;
    width: 100%;
}

@media (min-width: 1000px) {
    
    canvas {
        height: 70vh !important;
        width: auto !important;
        margin: 0 auto;
    }

}

@media print {
    
    #diagrams {
        height: auto;
        width: 100%;
        margin: 0;
    }

    canvas {
        page-break-inside: avoid;
        max-height: 45vh !important;
        height: auto !important;
        width: 95vw !important;
        margin: 0 auto;
    }

    @media print and (orientation: landscape) {
        canvas {
            height: 100vh !important;
            width: auto !important;
        }
    }

}

